*
!/.gitignore
!/.magento.app.yaml
!/.magento.env.yaml*
!/.magento
!/.magento/**
/.magento/local
!/app/
!/app/**
/app/etc/env.php
/app/etc/config.php
!/.htaccess
!/index.php
!/pub/index.php
!/pub/.htaccess
!/setup/

!/build_options.ini
!/composer.json
!/composer.lock
!/magento-vars.php
!/m2-hotfixes
!/m2-hotfixes/**
!/php.ini
!/update
!/update/.htaccess
!/README.md
!/op-exclude.txt
!/package.json
!/yarn.lock
!/commitlint.config.js
!/.stylelintrc.json
!/.github/workflows/frontend-ci.yml
!/pub
!/pub/*/
!/setup/
!/setup/**
!/bin/
!/bin/**
!/lib/
!/lib/**
!/dev/
!/dev/**
!.github
!.github/workflows
!.github/workflows/**
!docker-compose.yml
!/init-magento.sh
!Dockerfile
!.dockerignore
!/docker/
!/docker/**
