*
!/.gitignore
!/.magento.app.yaml
!/.magento.env.yaml*
!/.magento
!/.magento/**
/.magento/local
!/app
!/app/*/
!/app/code/**
!/app/design/**
!/app/etc/config.php
!/app/i18n/**
!/auth.json
!/build_options.ini
!/composer.json
!/composer.lock
!/magento-vars.php
!/m2-hotfixes
!/m2-hotfixes/**
!/php.ini
!/update
!/update/.htaccess
!/README.md
!/op-exclude.txt
!/package.json
!/yarn.lock
!/commitlint.config.js
!/.stylelintrc.json
!/.github/workflows/frontend-ci.yml
!/pub
!/pub/*/
!.github
!.github/workflows
!.github/workflows/**
!docker-compose.portainer.yml
!/docker/*/
